extends layout

block content
  h1 Random Image Display

  // Define image names in the array
  - var image_names = ['download.jpeg', 'download1.jpeg', 'download2.jpeg', 'download3.jpeg', 'download4.jpeg']

  // Loop to generate 3 random images
  - for (var i = 0; i < 3; i++)
    - var randomIndex = Math.floor(Math.random() * 5)  // Generate a random index between 0 and 4
    img(src=/images/${image_names[randomIndex]}, alt=Image ${image_names[randomIndex]}, height="200", width="200", onclick=buy(${randomIndex}))

  